<section id="main" class="articleContainer">
	<article class="article_main">
		<% @article_info.each do |data| %>
			<% if session["user_id"] != nil %>
				<form action="/edit/<%= data['id'] %>">
	    			<input type="submit" value="EDIT">
				</form>
			<% end %>
			<div class="bArticleInfo">
				<h1><%= data['title'] %></h1>
				<h3><%= data['author'] %></h3>
				<h4><%= data['date_created'] %></h4>
				<% if data['date_updated'] != nil %>
					<h4>Date updated: <%= data['date_updated'] %></h4>
				<% end %>
				<h4><%= data['category'] %></h4>
				<h4>Rating: <%= data['rating'] %></h4>
				<form action="/rating/<%= data['id'] %>" method="post">
					<input type="hidden" name="_method" value="put">
					<input type="radio" id="rating" name="rating" value="1">1
  					<input type="radio" id="rating" name="rating" value="2">2
  					<input type="radio" id="rating" name="rating" value="3">3
					<input type="radio" id="rating" name="rating" value="4">4
					<input type="radio" id="rating" name="rating" value="5">5
					<input type="submit" value="Rate">
				</form>
			</div>
			<div class="articleContent">
				<%= @copy_rendered %>
			</div>
	</article>
	<div class="clearfix"></div>
</section>

<section class="commentBox">
	<form class="commentForm" action="/submit/<%= data['id'] %>" method="post">
		<div class="input-row">
			<label for="commentEntry">Enter a comment: </label><br />
			<textarea id="commentEntry" type="text" name="commentEntry"></textarea>
		</div>
		<div class="input-row">
			<input type="submit" value="Save" />
		</div>
	</form>
	<% end %>
</section>


	<section class="comments">
		<% @all_comments.each do |comment| %>
			<p><%= comment['comment'] %></p>
			<p><%= comment['date_created'] %></p>
			<p><%= comment['author'] %></p>
		<% end %>
</section>