<section id="main" class="articleContainer">
	<article class="article_main">
		<% @article_info.each do |data| %>
			<% if session["user_id"] != nil %>
				<form action="/edit/<%= data['id'] %>">
	    			<input type="submit" value="EDIT">
				</form>
			<% end %>
			<section class="bArticleInfo">
				<h2><%= data['date_created'] %></h2>
				<% if data['date_updated'] != nil %>
					<h3>Date updated: <%= data['date_updated'] %></h3>
				<% end %>
				<h1><%= data['title'] %></h1>
				<h4><%= data['category'] %></h4>
				<h3><%= data['author'] %></h3>
				<h4><%= data['rating'] %></h4>
			</section>
			<section class="articleContent">
				<%= @copy_rendered %>
			</section>
	</article>
	<div class="clearfix"></div>
</section>

<section class="commentBox">
	<form class="commentForm" action="/submit/<%= data['id'] %>" method="post">
		<div class="input-row">
			<label for="commentEntry">Enter a comment: </label><br />
			<textarea id="commentEntry" type="text" name="commentEntry"></textarea>
		</div>
		<div class="input-row">
			<input type="submit" value="Save" />
		</div>
	</form>
	<% end %>
</section>


	<section class="comments">
		<% @all_comments.each do |comment| %>
			<p><%= comment['comment'] %></p>
			<p><%= comment['date_created'] %></p>
			<p><%= comment['author'] %></p>
		<% end %>
</section>