<section id="main" class="articleContainer">
	<% @article_info.each do |data| %>
		<form class="edit" action ="/edit/<%= data['id'] %>" method="post">
			<input type="hidden" name="_method" value="put">
			<div class="input-row">
				<input type="submit" value="Save" />
			</div>

			<div class="input-row">
				<label for="category">Category: </label>
				<select id="category" name="category">
					<% @categories.each do |category| %>
						<% if category['category'] == data['category'] %>
							<option value="<%= data['category'] %>" selected><%= data['category'] %></option>
						<% elsif category['category'] != data['category'] %>
							<option value="<%= "#{category['category']}" %>"><%= "#{category['category']}" %></option>
						<% end %>
					<% end %>
				</select>
			</div>

			<div class="input-row">
				<label for="title">Title: </label>
				<input id="title" type="text" name="title" value="<%= data['title'] %>"/>
			</div>

			<div class="input-row">
				<label for="author">Author: </label>
				<input if="author" type="text" name="author" value="<%= data['author'] %>"/>
			</div>

			<div class="input-row">
				<label for="copy">Copy: </label>
				<textarea id="copy" type="text" name="copy"><%= data['copy'] %></textarea>
			</div>
		</form>
		<form class="edit" action ="/edit/<%= data['id'] %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<div class="input-row">
				<input type="submit" value="Delete" />
			</div>
		</form>
	<% end %>
	<div class="clearfix"></div>
</section>
